body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.container {
    margin-top: 50px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    display: inline-block;
}

.container input, .container label {
    margin-bottom: 15px; 
    margin-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: left;
    
}

button {
    background-color: #ff5722;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #e64a19;
}

#excuse {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
